
<launch>



	<node pkg="test_2_service" type="talker1" name="talker1" output="screen">
	</node>
	<node pkg="test_2_service" type="talker2" name="talker2" output="screen">
	</node>
	<node pkg="test_2_service" type="agent_03" name="agent_03" output="screen">
	</node>

	<include file="$(find lidar_2020)/launch/lidar.launch" />




</launch>
